.card-container {
    display: flex;
    flex-direction: column;
    background-color: wheat;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0px 0px;
    padding: 25px;
    cursor: pointer;
    -mox-osx-font-smoothing: greyscale;
    backface-visibility: hidden;
    transform:translate(0);
    transition: transform 0.25s ease-out;
}

.card-container:hover {
    transform: scale(1.05);
}