.card-container {
    display: flex;
    flex-direction: column;
    background-color: #ffc300;
    border: 1px solid #d20404;
    border-radius: 5px 5px 0px 0px;
    padding: 15px;
    cursor: pointer;
    -mox-osx-font-smoothing: greyscale;
    backface-visibility: hidden;
    transform:translate(0);
    transition: transform 0.25s ease-out;
}

.card-container:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.4em;
    margin-top: 5px;
}

.card-motto {
    font-weight: 150;
    text-align: left;
    display: inline-block;
    border: 2px ridge #dddddd;
    padding: 5px;
    background-color: #fefefefe;
}

img.card-image {
    border: 1px solid #222222;
    padding: 5px;
    margin: 0 auto;
    box-shadow: 5px 5px 15px #44444444 ;
    background-color: white;
}